<!DOCTYPE html>
@using ICM.Data.Business.CountImplementation

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Baylaan Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Insurance Claim Management</b></a>
    </div>
    <!-- /.navbar-header -->
   
    <!-- /.navbar-top-links -->
    @Html.Partial("_LoginPartial")
    @*@if (Request.IsAuthenticated)
    {*@
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")" class="active"><i class="fa fa-dashboard fa-fw fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-folder-open fa-3x"></i> Care<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="@Url.Action("Search", "ClientModelTest1")"> Clients</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Search", "ClientCase")"> Cases</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Search", "AppointmentResources")"> Doctors</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Search", "ActivityBooking")"> Appointments</a>
                            </li>
                        </ul>

                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw fa-3x"></i>Reports<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="@Url.Action("Index", "Client")">Clients</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","Case")">Cases</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","AppointmentReport")">Appointments</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ActivityBookingType")">Appointment Summary</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-wrench fa-3x"></i> Maintenance<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">

                            <li>
                                <a href="@Url.Action("Index", "ActivitySubType")"> Activity SubType</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Adjuster")"> Adjuster</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CaseContactType")"> Case Contact Type</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Genders")"> Gender</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "GoodAndService")"> Goods and Services</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "Languages")"> Languages</a>
                            </li>
                           
                            <li>
                                <a href="@Url.Action("Index", "ProvinceOrStates")"> Provinces or States</a>
                            </li>
                           
                        </ul>

                        <!-- /.nav-second-level -->
                    </li>
                     <!-- /.nav-second-level -->
                </ul>
</div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    @*}*@
    </nav>

    <div id="page-wrapper" @*@if (!Request.IsAuthenticated)
                           {<text>style="margin: 0 0 0 0"</text>}*@>
       
                
                    <div class="row">
                        <div class="col-lg-12">
                            <h1></h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    @*@if (Request.IsAuthenticated)
            {*@
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-users fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">
                                                    @ClientCaseDoctorAppointmentCounts.ClientCount
                                                </div>
                                                <div>Clients</div>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="@Url.Action("Index", "ClientModelTest1")">



                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-folder-open fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@ClientCaseDoctorAppointmentCounts.CaseCount</div>
                                                <div>Cases</div>

                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Index", "ClientCase")">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-user-md fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@ClientCaseDoctorAppointmentCounts.DoctorCount</div>
                                                <div>Doctors</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Index", "AppointmentResources")">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-calendar fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@ClientCaseDoctorAppointmentCounts.AppointmentCount</div>
                                                <div>Appointments</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Index", "ActivityBooking")">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
            @*}*@


                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Baylaan Technologies Inc</p>
                    </footer>

                    @RenderSection("scripts", required: false)
                </div>

            </div>
</body>
</html>
