@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ICM.Web.Models.ClientCaseClientModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Case Records</h2>
<div class="panel panel-default">
    <div class="panel-heading">
     
    </div>
    <table class="table">
        <tr>
            <th></th>
           
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PostalCodeOrZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().By)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CaseID }) 
                
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCodeOrZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.By)
                </td>

            </tr>
        }

    </table>
    <p>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
    </p>
</div>